$brand-color: #4badac;
$brand-dark-color: darken($brand-color, 15);
$brand-yellow-color: #f8c453;
$brand-yellow-dark-color: darken($brand-yellow-color, 20);

$indie-pink-color: #FA1681;
$indie-pink-dark-color: darken($indie-pink-color, 15);

$color-grey: #888;
$color-grey-light: #eee;

$background-color: white;
$text-color: #333;

$heading-font-family: "Museo Sans", "museo-sans", "Helvetica Neue", sans-serif;

$base-font-family: "Museo Sans", "museo-sans", "Helvetica Neue", sans-serif;
$base-line-height: 1.5;
$base-font-size: 16px;

$small-font-size: 0.7em;

$spacing-unit: 30px;
