@import "init/settings";

.Button {
    background: $brand-color;
    border-radius: 3px;
    border: none;
    box-shadow: 0 3px $brand-dark-color;
    color: white;
    font-family: $base-font-family;
    font-size: .72em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    padding: 1.1em 1.1em 1em 1.1em;
    position: relative;
    outline: none;
    text-transform: uppercase;

    &:visited {
        color: white;
    }

    &:hover {
        box-shadow: 0 2px $brand-dark-color;
        color: white;
        cursor: pointer;
        text-decoration: none;
        top: 1px;
    }

    &:active {
        box-shadow: 0 1px $brand-dark-color;
        cursor: pointer;
        top: 2px;
    }

    .Icon {
        height: 15px;
        position: relative;
        margin-right: 3px;
        top: 2px;
        width: 15px;
    }
}

.Button--pink {
    background: $indie-pink-color;
    box-shadow: 0 3px $indie-pink-dark-color;

    &:hover {
        box-shadow: 0 2px $indie-pink-dark-color;
    }

    &:active {
        box-shadow: 0 1px $indie-pink-dark-color;
        cursor: pointer;
        top: 2px;
    }
}

.Button--yellow {
    background: $brand-yellow-color;
    box-shadow: 0 3px $brand-yellow-dark-color;

    &:hover {
        box-shadow: 0 2px $brand-yellow-dark-color;
    }

    &:active {
        box-shadow: 0 1px $brand-yellow-dark-color;
        cursor: pointer;
        top: 2px;
    }
}

.Button--grey {
    background: #888;
    box-shadow: 0 3px #555;
    color: #ccc;

    &:hover {
        box-shadow: 0 3px #555;
        color: #ccc;
    }

    &:active {
        box-shadow: 0 2px #555;
        cursor: auto;
        color: #ccc;
        top: 0;
    }
}

.Button--soldOut {
    @extend .Button;
    @extend .Button--grey;
}

.Button--preOrder {
    @extend .Button;
    @extend .Button--pink;
}

.Button--hero {
    @extend .Button;
    border-radius: 20px;
    padding: 11px 18px;
}

.Button--heroPlayVideo {
    @extend .Button--hero;
    @extend .Button--yellow;
}

