@import "settings";

.CardBack {
	background: $jeopardy-blue;
}

.CardBack-front {
	backface-visibility: hidden;
	transform: rotateY(0deg);
	z-index: 3;
}

.CardBack-content {
	backface-visibility: hidden;
	height: 100%;
	transform: rotateY(180deg);
}
