$mint1: #448684; 
$mint2: #4badac,;
$mint3: #ace9e8;

$blue1: #4965cc;
$blue2: #6889fc;
$blue3: #c2d0fd;

$pink1: #fa2854;
$pink2: #fc3880;
$pink3: #fd7cab;

$grey1: #eee;
$grey2: #bdbdbd;
$grey3: #757575;
$grey4: #424242;

$red0: #ffe9e9;
$red1: #ef9a9a;
$red2: #f44336;
$red3: #d32f2f;
