.Jeopardy {
	font-family: "Proxima Nova", sans-serif;
	position: relative;
	height: 100%;
}

.Board {
	background: grey;
	bottom: 130px;
	position: absolute;
	top: 100px;
	width: 100%;
}

.Scoreboard {
	bottom: 0;
	height: 130px;
	position: absolute;
	width: 100%;
}
