@import "settings";

.Player {
	flex: 1;
	margin-right: 10px;
	position: relative;
	text-align: center;

	&:first-of-type {
		margin-left: 10px;
	}
}

.Player-screen {
	min-width: 120px;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	width: 80%;
}

.Player-name {
	background: #4667C5;
	color: white;
	font-size: 20px;
	padding: 15px 0;
}

.Player-score {
	background: $jeopardy-blue;
	color: #fefefe;
	font-size: 22px;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
}

.Player-controls {
	position: absolute;
	top: 0;
	width: 100%;

	.ButtonCorrect {
		float: left;
		left: -35px;
		position: relative;
	}

	.ButtonIncorrect {
		float: right;
		position: relative;
		right: -35px;
	}

}
